# OS
.DS_Store

# Dependencies
node_modules

# Agent install artifacts (created by `npx skills add`, not part of source)
.adal/
.augment/
.codebuddy/
.commandcode/
.continue/
.cortex/
.crush/
.factory/
.goose/
.iflow/
.junie/
.kilocode/
.kiro/
.kode/
.mcpjam/
.mux/
.neovate/
.openhands/
.pi/
.pochi/
.qoder/
.qwen/
.roo/
.trae/
.vibe/
.windsurf/
.zencoder/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
